{% extends 'base_top.html' %}

{% block middle_com %}
<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/list1_1_1/" class="fruit">新鲜水果</a></li>
					<li><a href="/list2_1_1/" class="seafood">海鲜水产</a></li>
					<li><a href="/list3_1_1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/list4_1_1/" class="egg">禽类蛋品</a></li>
					<li><a href="/list5_1_1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
		<a href="#">{{ title }}</a>
	</div>

	<div class="main_wrap clearfix">
		<ul class="goods_type_list clearfix">
				{% for goods in goodslist %}
                <li>
					<a href="/{{ goods.id }}/"><img src="/static/{{ goods.gpic }}"></a>
					<h4><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.gprice}}</span>
						<span class="unit">{{ goods.gprice}}/{{ goods.gunit }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
        </ul>
    </div>



    <div class="pagenation">
        {% if goodslist.has_previous %}
        <a href="/search/?q={{ query }}&amp;page={{ goodslist.previous_page_number }}" class="active">上一页</a>
{#        {% else %}#}
{#            <a href="/list{{ tid }}_1_{{ sort }}/" class="active">上一页</a>#}
        {% endif %}
        {% for pindex in goodslist.paginator.page_range %}
        <a href="/search/?q={{ query }}&amp;page={{ pindex }}" class="active">{{ pindex }}</a>
        {% endfor %}
        {% if goodslist.has_next %}
            <a href="/search/?q={{ query }}&amp;page={{ goodslist.next_page_number }}" class="active">下一页</a>
{#            {% else %}#}
{#            <a href="/search/?q={{ query }}&amp;page={{ goodslist.paginator.num_pages }}" class="active">下一页</a>#}
        {% endif %}
    </div>

{% endblock middle_com %}